---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

//Media Queries
$xs-phone-portrait: 320px;
$phone-portrait:   480px;
$phone-landscape:  640px;
$tablet-portrait:  768px;
$tablet-landscape: 1024px;
$desktop:          1440px;
$xl-desktop:       1920px;
$xxl-desktop:      10000px;

//Fonts
$family: 'Anonymous Pro', Helvetica Neue, Arial, monospace;
$alt-font: 'Rift', Helvetica Neue, Arial, monospace;

// Font weights
$bold: 700;
$regular: 400;


//Colors
$white: #FFFFFF;
$bldy-pink: #EC316D;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@import 
			'typography',
			'base',
			'navbar',
			'hero',
			'footer',
			'song',
			'video_hero',
			'modal_video';