<footer id="bldy-footer" class="bldy-footer">
	<div class="content">
		<div class="footer_brand">
			<a href="http://bldyrxse.com/"><img src="{{ 'img/biker_logo.svg' | prepend: site.baseurl }}"></a>
		</div>
		<ul class="footer_socials">
			<li><a href="http://bldyrxse.com/">Homepage</a></li>
			<li><a href="https://soundcloud.com/bldyrxse">Soundcloud</a></li>
			<li><a href="https://twitter.com/bldyrxse">Twitter</a></li>
			<li><a href="https://www.instagram.com/bldyrxse/">Instagram</a></li>
			<li><a href="https://www.facebook.com/bldyrxse/">Facebook</a></li>
		</ul>
	</div>
</footer>