<footer id="bldy-footer" class="bldy-footer">
	<div class="content">
		<div class="footer_brand">
			<a href="http://bldyrxse.com/"><img src="{{ '/img/biker_logo.svg' | prepend: site.baseurl }}"></a>
		</div>
		<ul class="footer_socials">
			<li><a target="_blank" href="http://bldyrxse.com/">Homepage</a></li>
			<li><a target="_blank" href="https://soundcloud.com/bldyrxse">Soundcloud</a></li>
			<li><a target="_blank" href="https://twitter.com/bldyrxse">Twitter</a></li>
			<li><a target="_blank" href="https://www.instagram.com/bldyrxse/">Instagram</a></li>
			<li><a target="_blank" href="https://www.facebook.com/bldyrxse/">Facebook</a></li>
		</ul>
		<p class="credit_roll">Site designed by <a target="_blank" href="https://dribbble.com/zramos">Zahir Ramos</a>, built by <a target="_blank" href="http://notansari.com">Aziz Ramos</a></p>
	</div>
</footer>