<head>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="icon" href="{{ 'img/favicon.png' | prepend: site.baseurl }}">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  <script src="https://d2v52k3cl9vedd.cloudfront.net/plangular/3.1.0/plangular.min.js"></script>

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@bldyrxse">
  <meta name="twitter:creator" content="@bldyrxse">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  {% if page.twitter_image %}<meta name="twitter:image" content="{{ page.twitter_image | prepend: site.baseurl | prepend: site.url }}">{% endif %}

  <meta property="og:title" content="{% if page.title %}{{ page.title | smartify | strip_html | strip_newlines | escape_once }}{% else %}{{ site.name }}{% endif %}">
  <meta property="og:type" content="{% if page.date %}article{% else %}website{% endif %}">
  <meta property="og:url" content="{{ page.url | replace:'/index.html','/' | prepend: site.baseurl | prepend: site.url }}">
  <meta property="og:image" content="{% if page.image %}{{ page.image | prepend: site.baseurl | prepend: site.url }}{% else %}{{ site.logo | prepend: site.baseurl | prepend: site.url }}{% endif %}">
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | markdownify | strip_html | strip_newlines | truncate: 160 | escape_once }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:site_name" content="{{ site.name }}">
  <meta property="og:locale" content="{{ site.locale }}">

  {% if site.facebook %}
    {% if site.facebook.admins %}
      <meta property="fb:admins" content="{{ site.facebook.admins }}">
    {% endif %}
    {% if site.facebook.publisher %}
      <meta property="article:publisher" content="{{ site.facebook.publisher }}">
    {% endif %}
    {% if site.facebook.app_id %}
      <meta property="fb:app_id" content="{{ site.facebook.app_id }}">
    {% endif %}
  {% endif %}

</head>