<head>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="icon" href="{{ 'img/favicon.png' | prepend: site.baseurl }}">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  <script src="https://d2v52k3cl9vedd.cloudfront.net/plangular/3.1.0/plangular.min.js"></script>

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@bldyrxse">
  <meta name="twitter:creator" content="@bldyrxse">
  {% if page.title %}
    <meta name="twitter:title" content="{{ page.title }}">
  {% else %}
    <meta name="twitter:title" content="{{ site.title }}">
  {% endif %}
  {% if page.url %}
    <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
  {% endif %}
  {% if page.description %}
    <meta name="twitter:description" content="{{ page.description }}">
  {% else %}
    <meta name="twitter:description" content="{{ site.description }}">
  {% endif %}
  {% if page.twitter_image %}
    <meta name="twitter:image:src" content="{{ site.url }}/img/socials/twitter_promo_image.png{{ page.twitter_image }}">
  {% else %}
    <meta name="twitter:image:src" content="{{ site.url }}/path/to/image/logo.png">
  {% endif %}

</head>